In [13]:
import boto3
import pandas as pd

In [14]:
import os
os.environ["AWS_DEFAULT_REGION"] = 'us-east-2'
os.environ["AWS_ACCESS_KEY_ID"] = 'AKIA3YG72WSKAY3DQARO'
os.environ["AWS_SECRET_ACCESS_KEY"] = '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'

In [15]:
for obj in s3.Bucket('mlops-storage1').objects.all():
    print(obj.bucket_name)

mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1
mlops-storage1

In [16]:
obj= s3.Bucket('mlops-storage1').Object('hari/bank.csv').get()
foo = pd.read_csv(obj['Body'])

In [17]:
foo

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [18]:
for bucket in s3.buckets.all():
    print(bucket.name)

ClientError: An error occurred (AccessDenied) when calling the ListBuckets operation: Access Denied